*{
    font-family: Roboto Slab;
    box-sizing: border-box;
}
.mt-n2{
    margin-top: -15px;
}
.navbar>.container{
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: #0F172A;
    color: floralwhite;
    position: fixed;
}
.nav-link{
    color: rgba(255, 255, 255, .65);
    font-size: 1.1rem;
}
.active{
    color: floralwhite; 
}

.fs{
    font-size: 40px;
    font-weight: bold;
}
.fss{
    font-size: 13px;
    font-weight: 100;
}
.navbar-brand{
    margin-right: 0px;
}
.vr{
    border-left: 1px solid floralwhite;
    height:40px;
}
#signup{
    color:#EAB308;
    background-color: transparent;
}
.btn{
    height: fit-content;
    font-size: 1.1rem;
}
.btn-prime{
    background-color: #EAB308;
}
.jumbotron{
    background-color: #DBEAFE;
}
.iframediv{
    display: inline-block;
    width:300px;
    height:200px;
}
iframe{
    width:100%;
    height: 100%;
}
.carousel-control-prev,.carousel-control-next{
    background-color: gray;
    height: min-content;
    top: 45%;
    border-radius: 50%;
    padding: 8px 0px;
    color: blue;
}
.carousel-control-prev {
    left: -30px;    
}
.carousel-control-next{
    right:-25px;
}
#mycarousel{
    padding: 3px 5%;
    background-color: #DBEAFE;
    box-shadow: 0px 3px 10px black;
}
.trendinggenre{
    list-style: none;
    padding-left: 0px;
}
.trendinggenre>li{
    display: inline-block;
    padding:3px 2%;
    margin: auto 5%;
    background-color: #A2DCEE;
    border-radius: 10px;
    font-size: 1.1rem;
}
.trendinggenre>li>a{
    color: black;
}
.card{
    width:15rem;
    background-color: #A2DCEE;
    margin: 2% 1% 1% 2%;
}
.card-img-top{
    height: 15rem;
}
.rating{
    display: inline-block;
    text-align: right;
    margin-right: 0px;
    margin-left: 9rem;
    background-color: #0F172A;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    color:floralwhite;
}
.card-body{
    padding-bottom: 5px;
}
footer{
    background-color:  #0F172A;
    color:#fffaf0;
    margin-top: 5%;
    padding-top: 0.5rem;
}
.fa{
    color:#fffaf0;
}
.form-search{
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 2.5rem;
}
.btn-search{
    border-left: 0px;
    margin-left: -30px;
    height: 2.5rem;
}
.moviegenre>li{
    background-color: #10bce3;
    margin-top: 2%;
}
.left-tab{
    border-right: 1px solid rgba(0, 0, 0, .25);
}
.left-tab li:hover{
    background-color: #EAB308;
}
.link-active{
    background-color: #EAB308;
}
.user{
    border-radius: 50%;
}
